.home-link {
  text-decoration: none;
  border-bottom: 3px solid #f2d3d3;
}


.blog-link:hover {
  text-decoration: none;
  border-bottom: 3px solid #ffe299;
}

.resume-link:hover {
  text-decoration: none;
  border-bottom: 3px solid #d1eaed;
}
