@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;900&family=Source+Sans+Pro:wght@300;400;600&&display=swap');

@media only screen and (max-width: 600px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    width: 75%;
  }
}

@media only screen and (min-width: 901px) {
  .container {
    width: 65%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

.container {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.05em;
  font-smooth: auto;
  //font-weight: 300;
}

.heading-row {
  margin-bottom: 7%;
  padding-top: 2%;
  position: relative;
}

.content-row {
  margin-top: 10%;
}

.heading-text {
  font-size: 1.4em;
}

.btm-align {
  position: absolute;
  bottom: 0;
  right: 0;
}

.plain-link {
    color: black;
}

.plain-link:hover {
  color: black;
  text-decoration: none;
}

#site-title {
  font-family: 'Martel', serif;
  font-size: 2.6em;
  font-weight: 900;
}

/* post scss */

.post-date {
  color: gray;
  font-size: 0.8em;
}

.post-title {
  font-family: "Martel", serif;
  font-size: 1.4em;
  font-weight: bold;
  margin: 0;
}

.section-heading {
  font-family: "Martel", serif;
  font-size: 1.4em;
}
.item {
  padding-bottom: 15px;
}

.item-title {
  font-size: 1.2em;
  padding-top: 20px;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.item-image {
  float: left;
  padding: 15px 20px 10px 5px;
  width: 25%;
}

.block-quote {
  font-size: 1em;
  font-style: italic;
  padding: 20px 0 20px 10%;
}
