.exp-row {
  padding-bottom: 20px;
}

.heading {
  color: #5db6c0;
  //font-family: 'Martel', serif;
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
}

.home-link:hover {
  text-decoration: none;
  border-bottom: 3px solid #f2d3d3;
}

.blog-link:hover {
  text-decoration: none;
  border-bottom: 3px solid #ffe299;
}

.resume-link {
  text-decoration: none;
  border-bottom: 3px solid #d1eaed;
}

.company-name {
  font-size: 1.15em;
  font-weight: bold;
}

.team-name {
}

.job-title {
  font-weight: bold;
}

.date {
  font-size: 0.85em;
}
