<html>

<head>
  <link rel="stylesheet" href="/assets/css/main.scss">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">        
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" href="item.js"></script>
</head>

<body>
  <div class="container">
      <div class="heading-row row">
        <div class="col-md-6" id="title">
          <a href="/" class="plain-link">christine</a></div>
        
        <div class="col-md-2 align-self-center heading-text">
          <a href="/" class="plain-link">home</a>
        </div>
        
        <div class="col-md-2 align-self-center heading-text">
          <a href="blog.html" class="plain-link" id="blog-lik">blog</a>
        </div>
        
        <div class="col-md-2 align-self-center heading-text">
          <a href="/resume/" class="plain-link" id="resume-link">resume</a>
        </div>
      </div>

      {{ content }}

  </div>
</body>

</html>
